@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

:root {
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "dunk";
  src: url("Main.woff2") format('woff');
}

@font-face {
  font-family: "ndunk";
  src: url("all.woff2") format('woff');
}

@font-face {
  font-family: "nbdunk";
  src: url("allbold.wofff2") format('woff');
}

.main{
  position: relative;
  padding: 0%;
  height: 100vh;
  width: 100vw;
}
.maintext{
  position: absolute;
	top: 6em;
  padding-left: 10%;
	width: 100%;
	/* text-align: center; */
	z-index: 100;
	display:block;
  font: 20px "dunk";
  color: #def2f3;
  /* z-index: 10; */

}

.mhello{
  padding: auto;
  margin: 0%;
  font-size: 5em;
  letter-spacing: 0.6em;
}

.mme{
  padding-top: 4em;
  margin:0%;
  font-family: "nbdunk";
  font-size: 2em;
}

.mdesc{
  padding-top: 0.5em;
  margin:0%;
  font-family: "ndunk";
  font-size: 1em;
}

.mmlink{
  padding-top: 1em;
}
.mmlink>a{
  margin-right: 3em;
}


#AboutMe{
  padding: 0%;
  background-color: #1f1d2b;
  font-family: 'Poppins', sans-serif;
  color: #fff;

}


#SideAni{
  position: relative;
  transform: translateX(0);
}

.MeImg{
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.abtmecol{
  padding: 20vh 5vw;
}
.abtmecol > div{
  padding: 5vh 5vw;

}

.abtmeh{
  font-weight: 600;
  font-size: 80px;
  line-height: 85px;
  letter-spacing: -1px;
  padding-right: 0px;
  margin-bottom: 50px;
}

.abtmetxt{
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.6px;
  
}

.abtmetxt>b{
  font-weight: 700;
}

.skillgroup>.col>.card>.card-body{
  padding: 1.3rem;

}
.skillgroup>.col>.card>.card-body>.card-title{
  font-size: 23px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.skillcard
{
  background-color: #d7cecd;
  color: #060606;
}

.skillcard .odd{
  background-color: #c7ccc6;
  color: #060606;
}


.skillcard ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1em;
}


#cntctcon {
  padding-top: 10vh;
  height: 20vh;
}

#cntct {
  background-color: #0d0d0d;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contacts {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vh;
  margin: auto;
}

#icon1,
#icon2,
#icon3,
#icon4 {
  font-size: 1.3rem;
  margin-left: 2vh;
  color: cornflowerblue;
}
#icon1:hover,
#icon2:hover,
#icon3:hover,
#icon4:hover {
  color: coral !important;
}

#typing {
  font-family: "Roboto Mono", monospace;
  /* font-variant-numeric: tabular-nums; */
  white-space: pre;
  font-size: 2.3rem;
}

.card {
  box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.6);
  /* opacity: 0; */
  /* transform: translateY(50%); */
  /* transition: opacity 250ms ease-in,transform 250ms ease-in; */
}

/* .card.appear {
  opacity: 1;
  transform: translateY(0%);
} */

#Projects{
  /* color: #fefeff; */
  background-color: #403e54;
}


#Projects >h1{
  font-weight: 600;
  font-size: 80px;
  line-height: 85px;
  letter-spacing: -1px;
  padding-right: 0px;
  margin-bottom: 50px;
  text-shadow:1px;
  padding:12vh 0;
  color: #fefeff;
}

#Projects > .card-body{
  background-color: #fefeff;
}