@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');

@import './node_modules/sal.js/dist/sal.css';

:root {
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
/* * {
  outline: 1px solid #f00 !important;
} */

@font-face {
  font-family: "dunk";
  src: url("Assets/Fonts/Main.woff2") format('woff');
}

@font-face {
  font-family: "ndunk";
  src: url("Assets/Fonts/all.woff2") format('woff');
}

@font-face {
  font-family: "nbdunk";
  src: url("Assets/Fonts/allbold.wofff2") format('woff');
}

html,body {
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
  font-family: "ndunk";
  letter-spacing: 0px;
  max-width: 100%;

}

h1{
  font-family: 'Poppins', sans-serif;
}





.navbar{
  position: absolute;
  top:0em;
  color: #7b8083;
  width: 100%;
  max-width: 100%;


}

.navcont{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0%;
  width:100% !important;
}

.navbar-nav{
  margin-left: auto; 
margin-right: 0; 
}

.navbar-toggler{
  margin-left: auto; 
  margin-right: 0;

}

.nav-item{
  font-size:1.2em;
}

.main{
  position: relative;
  padding: 0%;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.vidbg{
  position: absolute;
  object-fit: contain;
  /* top: 0; */
  top: 75% ;
  /* left: 0; */
  left: 60%;
  transform: translate(-60%,-75%);
  /* width: 100%; */
  /* min-height: 100vh; */
  /* width: 100%; */
  z-index: -1;
  /* max-width: 100%; */

}

@media(min-aspect-ratio:16/9){
  .vidbg{
    width: 100%;
    height: auto;
  overflow-x: hidden;
  overflow-y: hidden;

  } 
}

@media(max-aspect-ratio:16/9){
  .vidbg{
    width: auto;
    height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  } 
}


.maintext{
  /* position: absolute; */
	padding-top: 25vh;
  padding-left: 10%;
  padding-bottom: 8vh;
	width: 100% !important;
  min-height: 100vh;
  max-width:100%;
	/* text-align: center; */

  overflow-x:hidden ;
	z-index: 100;
	/* display:block; */
  font: 1.2vmax "dunk";
  color: #def2f3;
  /* z-index: 10; */

}

.mhello{
  padding: auto;
  margin: 0%;
  font-size: 5em;
  letter-spacing: 0.6em;
}

.mme{
  padding-top: 4em;
  margin:0%;
  font-family: "nbdunk";
  font-size: 2em;
}

.mdesc{
  padding-top: 0.5em;
  margin:0%;
  font-family: "ndunk";
  font-size: 1em;
}

.mmlink{
  padding-top: 1em;
}
.mmlink>a{
  margin-right: 3em;
}


#AboutMe{
  padding: 0%;
  background-color: #1f1d2b;
  font-family: 'Poppins', sans-serif;
  color: #fff;

}

#defaultCanvas0{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#SideAni{
  position: relative;
  transform: translateX(0);
}

.MeImg{
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.abtmecol{
  padding: 20vh 5vw 20vh 5vw;
}
.abtmecol > div{
  padding: 5vh 5vw;

}

.abtmeh{
  font-weight: 600;
  font-size:  5rem;
  line-height: 85px;
  letter-spacing: -1px;
  padding-right: 0px;
  margin-bottom: 50px;
}

.abtmetxt{
  font-size: 1.2rem;
  line-height: 2.1rem;
  font-weight: 300;
  /* letter-spacing: 0.1rem; */
  
}

.abtmetxt>b{
  font-weight: 700;
}

.skillgroup>.col>.card>.card-body{
  padding: 1.3rem;

}
.skillgroup>.col>.card>.card-body>.card-title{
  font-size: 23px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.card-text{
  font-size: 1.1em;
}

.skillcard
{
  background-color: #d7cecd;
  color: #060606;
}

.skillcard .odd{
  background-color: #c7ccc6;
  color: #060606;
}


.skillcard ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1em;
}


.skilldiv{
  padding: 3vh 0 !important;
}

.skillh{
  padding: 0 10%;

}
#cntctcon {
  padding-top: 10vh;
  height: 20vh;
}

#cntct {
  background-color: #1a1b1b;
  color: #fefeff;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contacts {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vh;
  margin: auto;
}

#icon1,
#icon2,
#icon3,
#icon4 {
  font-size: 1.3rem;
  margin-left: 2vh;
  color: cornflowerblue;
}
#icon1:hover,
#icon2:hover,
#icon3:hover,
#icon4:hover {
  color: coral !important;
}

#typing {
  font-family: "Roboto Mono", monospace;
  /* font-variant-numeric: tabular-nums; */
  white-space: pre;
  font-size: 2.3rem;
}

.card {
  box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.6);
  /* opacity: 0; */
  /* transform: translateY(50%); */
  /* transition: opacity 250ms ease-in,transform 250ms ease-in; */
}

/* .card.appear {
  opacity: 1;
  transform: translateY(0%);
} */

.card-title{
  font-family: 'nbdunk', sans-serif;
}

#Projects{
  /* color: #fefeff; */
  background-color: #f5f6f8;
}

.prjctrow{
  margin: 0%;
}


#Projects >h1{
  font-weight: 600;
  font-size: 80px;
  line-height: 85px;
  letter-spacing: -1px;
  padding-right: 0px;
  margin-bottom: 50px;
  text-shadow:1px;
  padding:12vh 0;
  color: #060606;
}

#Projects > .card-body{
  background-color: #fefeff
}

.prjhead{
  color:#082431;
}

.skillsphere{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  /* height: 70vh; */
}

.arthead{
  font-weight: 600;
  font-size: 80px;
  line-height: 85px;
  letter-spacing: -1px;
  padding-right: 0px;
  margin-bottom: 50px;
  color: #fff;
}

.artcontainer{
  overflow-y: hidden;
}

#cntct{
  padding-top: 7vh;
}


@media (max-width: 768px) { 

  html,body {
    overflow-x: hidden;
  }

  .mme{
    padding-top: 25vh;
    margin:0%;
    font-family: "nbdunk";
    font-size: 4vmax;
  }
  
  .mdesc{
    padding-top: 0.5em;
    margin:0%;
    font-family: "ndunk";
    font-size: 2vmax;
  }

  .abtmecol{
    padding: 20vh 5vw 0vh 5vw;
  }
  #typing {
    font-family: "Roboto Mono", monospace;
    white-space: pre;
    font-size: 1.3rem;
  }

}

@media (max-width: 992px) { 
  .nav-item{
    margin-left: auto;
    margin-right: 0px;
    padding-right: 3em;
    /* font-size:1.5em; */
  }
  .navbar{
    width: 97vw;
    /* padding-right: 4em; */
  }
}
/* 
#defaultCanvas0{
  width: 100% !important;
  height: 100vh !important;
} */

#AboutMe{
  position: relative;
}

.PerlinDiv{
  position: absolute;
  bottom: -0.5vh;
  width: 100%;
  /* max-width: 100v; */
  height: 20vh;
  /* background-color: #082431; */
}

/* width: 100% */


.tagcloud{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  font-family: 'Archivo', sans-serif;
  font-weight:600;
  font-size: 1.3em;
  color:#FCF7FF;
}

.tagcloud--item:hover{
  color:#FF8552;
}

/* #AboutMe{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
} */

.gsapWrap{
  display: flex;
  justify-content: flex-end;
}

.gsapclass{
  display: block;
}